<Truncate>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra metus at arcu venenatis, sed aliquam lacus vulputate. Phasellus consequat tellus eget felis lobortis vulputate. Aliquam laoreet purus et arcu sodales gravida blandit ut elit. Pellentesque commodo, lorem quis interdum rhoncus, nisl nibh pellentesque odio, eget dictum sem est non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam nunc, laoreet quis mauris et, dignissim interdum est. Aliquam erat volutpat. Etiam fringilla sodales pharetra. Nam et lacus diam. Duis interdum nulla quis pharetra consequat.
  Praesent vitae euismod sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris urna risus, fermentum non ex vel, pretium convallis risus. Ut ornare, lectus et ullamcorper pharetra, purus justo aliquam dui, et sagittis urna lectus sed erat. Sed tincidunt sed orci ut finibus. Nulla porttitor imperdiet porttitor. Proin eu libero arcu. Aenean placerat, nisi at congue feugiat, metus ipsum interdum lacus, at venenatis ligula dolor in nisl. Curabitur sed auctor felis, vitae imperdiet lectus. Morbi eu dapibus diam. Suspendisse pharetra ex ac placerat suscipit. Quisque at mi in enim condimentum venenatis sed nec lorem. In porta nulla suscipit eros malesuada, sed consequat lacus laoreet. Quisque ut leo molestie, volutpat eros malesuada, molestie purus. Pellentesque suscipit, purus sed scelerisque viverra, enim massa vestibulum urna, molestie maximus dui sem non magna. Suspendisse vel nulla semper, ultricies tortor ac, sagittis enim.
</Truncate>